{% extends "layout.html" %}

{% block title %}
About this project
{% endblock %}

{% block main %}
<link rel="stylesheet" href="dashboard.css">
<div class="container-fluid hero-jr-project identifyObserver d-flex shadow-lg align-items-end justify-content-center">
    <div class="text-center">
        <div id="navbrand1" class="navbar-brand user-logo"><img src="static/images/about_me/homify_logo.png"
                id="logo_about_me"></div>
        <h1 class="display-4 mt-0 mb-0 userProfileNav herotext1" id="heroh1">
            Homify&nbsp; <i style="color: #166CDB;" class="fas fa-check-circle"></i></h1>
    </div>
</div>
<div class="main-content1 greyed-BG">
    <div class="container" style="background: white; padding: 1em; border-radius: 1em;">
        This is my cs50's final project. CS50 is a Computer Science course (on-campus and online) offered by the Harvard
        University. cs50 is quite popular among CS courses. My project name is Homify, where you can search for rental
        homes and homestays. Homify also gives flexibility to property owners to list their properties for rent. Homify
        is licensed under the MIT license. This project is developed using Python, JavaScript, HTML, CSS, Flask, and
        Bootstrap framework (version 4.5 and 5) for grids and containers. As per Github's estimation,
        Homify uses 60.2% of HTML, 17.7% of Python (1424 lines), 13.3% of CSS, and 8.8% of JavaScript.
        <div class="snip">
            <img src="static/images/about_me/GithubScreenshot.jpg" alt="">
        </div>
        <div>
            Here are many of the resources that I've used for the development of this project:
            <ul>
                <li>Color palettes: &nbsp; <a href="https://coolors.co/palettes/trending" target="_blank">Coolors</a>
                </li>
                <li>Icons: &nbsp; <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>&nbsp; and&nbsp; <a
                        href="https://boxicons.com/" target="_blank">Boxicon</a></li>
                <li>Photos and SVGs: &nbsp; <a href="https://unsplash.com/" target="_blank">Unsplash</a>,&nbsp; <a
                        href="https://www.pexels.com/" target="_blank">Pexels</a>, and&nbsp; <a
                        href="https://undraw.co/" target="_blank">Undraw</a>
                </li>
                <li>Quick study sites: &nbsp; <a href="https://developer.mozilla.org/en-US/" target="_blank">MDN Web
                        Docs</a>,&nbsp; <a href="https://www.w3schools.com/" target="_blank">W3 schools</a>
                    ,&nbsp; <a href="https://www.geeksforgeeks.org/" target="_blank">Geek for Geeks</a>, and&nbsp; of
                    course <a href="https://www.google.com/" target="_blank">Google search</a></li>
            </ul>
            <p>Checkout <a href="https://github.com/TokomNyori/Homify" target="_blank">Homify repository on Github</a>
            </p>
        </div>
        <div class="snip2">
            <img src="static/images/about_me/cs501.jpg" alt="">
        </div>

    </div>
</div>
{% endblock %}