{% extends "layout.html" %}

{% block title %}
About me
{% endblock %}

{% block main %}
<link rel="stylesheet" href="dashboard.css">
<div class="container-fluid hero-jr identifyObserver d-flex shadow-lg align-items-end justify-content-center">
    <div class="text-center">
        <div id="navbrand1" class="navbar-brand user-logo"><img src="static/images/about_me/profile.jpg"
                id="logo_about_me"></div>
        <h1 class="display-4 mt-0 mb-0 userProfileNav herotext1" id="heroh1">
            Tokom&nbsp; Nyori&nbsp; <i style="color: #166CDB;" class="fas fa-check-circle"></i></h1>
    </div>
</div>
<div class="main-content1 greyed-BG">
    <div class="container" style="background: white; padding: 1em; border-radius: 1em;">
        Hello, This is Tokom. I belong to a small town located in the Northeastern part of India.
        I have always been curious about technology (particularly computer science). Thanks to CS50, I have been able to
        learn Computer Science
        in a fun and challenging way. Prior to taking CS50, I had scant to no knowledge of programming. Essentially,
        CS50 is my first Computer Science course.
        Currently, I'm learning discrete mathematics and mathematical thinking in computer science to enhance my
        knowledge of computer science.
        As I have already completed the CS50, I plan to enroll in CS50's Intro to Artificial Intelligence course in
        order to immerse myself in the field of
        computer science. One day, I want to develop meaningful tools to help societies around the world by combining my
        knowledge of economics, mathematics
        and computer science. Whatever advanced classes I can take in the future, my heart will always stay connected to
        CS50. I will do my best to keep in
        touch with the CS50 community on social media to help resolve issues for new students.
        I will remain ever grateful to David, Brain, Dough and the CS50 team.
        <div class="thankyou">
            <img src="static/images/about_me/cs501.jpg" alt="">
        </div>

    </div>
</div>
{% endblock %}