{% extends "layoutOne.html" %}

{% block title %}
Settings
{% endblock %}

{% block main %}
<div>
    <div class="heading-settings text-center" style="margin: 2em;">
        <h4>Settings</h4>
    </div>

    <div class="container checkout-form padding-sm-width rounded">
        <div class="width-50-adjustable" style="margin:0 auto">
            <div class="change_password">
                <form id="change_password" class="row">
                    <div class="col=12 form-group">
                        <label for="user_id" class="form-label">Email id or mobile no.</label>
                        <input type="text" class="form-control shadow-sm" id="user_id" aria-describedby="emailHelp"
                            name="user_id" required>
                    </div>
                    <div class="col=12 form-group">
                        <label for="current_password" class="form-label">Current password</label>
                        <input type="password" class="form-control shadow-sm" id="current_password"
                            aria-describedby="emailHelp" name="current_password" required>
                    </div>
                    <div class="col=12 form-group">
                        <label for="new_password" class="form-label">New password</label>
                        <input type="password" class="form-control shadow-sm" id="new_password"
                            aria-describedby="emailHelp" name="new_password" required>
                    </div>
                    <input type="hidden" name="setting_name" id="setting_name" value="email">
                    <div class="col=12 text-center text-danger" style="margin-bottom: -0.5em;" id="warning_message">
                    </div>
                    <div class="col=12 form-group">
                        <button id="confirm_user_settings" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var change_password = document.querySelector("#change_password");

    change_password.addEventListener("submit", (e) => {
        document.querySelector('.spinner_settings').style.display = 'flex';
        var user_id = document.querySelector("#user_id").value;
        var current_password = document.querySelector("#current_password").value;
        var new_password = document.querySelector("#new_password").value;
        var warning_message = document.querySelector("#warning_message");

        e.preventDefault();

        $.post(
            "/change_user_pwd",
            {
                user_id: user_id,
                current_password: current_password,
                new_password: new_password,
            },

            function (message) {
                document.querySelector('.spinner_settings').style.display = 'none';
                if (message == "Done") {
                    document.querySelector('#modals_users_password').style.display = 'flex';
                    document.querySelector('#success_msg_Upwd').innerHTML = 'Successfully changed your password';
                } else {
                    warning_message.innerHTML = message;
                }
            }
        );
        //e.preventDefault();
    });
</script>
{% endblock %}