{% extends "layout.html" %}

{% block title %}
Contact me
{% endblock %}

{% block main %}
<link rel="stylesheet" href="dashboard.css">
<div class="container-fluid hero-jr-contact identifyObserver d-flex shadow-lg align-items-end justify-content-center">
    <div class="text-center">
        <div id="navbrand1" class="navbar-brand user-logo"><img src="static/images/about_me/profile.jpg"
                id="logo_about_me"></div>
        <h1 class="display-4 mt-0 mb-0 userProfileNav herotext1" id="heroh1">
            Contact&nbsp; Me&nbsp; <i style="color: #4D5154;" class="far fa-address-card"></i></h1>
    </div>
</div>
<div class="main-content1 greyed-BG">
    <div class="container contact_me" style="background: white; padding: 2em; border-radius: 1em;">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <i class="fab fa-github"></i> &nbsp; <a href="https://github.com/TokomNyori" target="_blank">Github</a>
                </div>
                <div>
                    <i class="fab fa-instagram" style="color: #F14D5A;"></i> &nbsp; <a
                        href="https://www.instagram.com/tokomnyori/" target="_blank">Instagram</a>
                </div>
                <div>
                    <i class="fab fa-facebook" style="color: #1877F2;"></i> &nbsp; <a
                        href="https://www.facebook.com/realtokomnyori/" target="_blank">Facebook</a>
                </div>
                <div>
                    <i class="fab fa-whatsapp" style="color: #22A014;"></i> &nbsp; <a
                        href="https://wa.me/qr/DMJNY7QJU6NYM1" target="_blank">WhatsApp</a>
                </div>
                <div>
                    <i class="far fa-envelope" style="color: #F84437;"></i> &nbsp; <span
                        style="font-family: 'Lato', sans-serif;">tokom.nyori@gmail.com</span>
                </div>
                <div>
                    <i class="fas fa-mobile-alt" style="color: #343a40;"></i> &nbsp; +91 8837 428457.
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <div>
                    <h6>Scan for WhatsApp</h6>
                    <img src="static/images/about_me/waqr.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}