<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    NOTE:
    CSS rules to specify families-

    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" />

    <!--Bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@400;500;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />

    <!--Locals-->
    <link rel="shortcut icon" href="static/images/logo/faviconIcon.png" type="static/images/logo/png" />
    <link rel="stylesheet" href="static/modalsTrial.css">
    <link rel="stylesheet" href="static/styleOne.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main class="margin-md">
        {% block main %}{% endblock %}
    </main>
    <div class="spinner_settings" id="spinner_settings">
        <div class="spinnersBox">
            <div id="spinner" class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status">
            </div>
        </div>
    </div>

    <!--User Settings-->
    <div class="modals" id="modals_users_settings">
        <div class="signupBoxPartner shadow rounded">
            <div class="modals-header">
                <h4 id="user_settings_modal_tick"><i class="fas fa-check-circle text-success"></i></h4>
                <p class="text-seccondary" style="font-size: 0.7em;" id="success_msg"></p>
            </div>
            <div class="user_settings_div">
                <form class="user_settings_form" action="/" style="display: inline-block;">
                    <button class="btn form-control bg-primary text-center rounded shadow">
                        <i class="fas fa-home">&nbsp;<p class="font-size-xsm" style="font-family: lato;">Home</p></i>
                    </button>
                </form>
                <form class="user_settings_form" action="/logOut_User" style="display: inline-block;">
                    <button class="btn form-control bg-danger text-center rounded shadow">
                        <i class="fas fa-sign-out-alt">&nbsp;<p class="font-size-xsm" style="font-family: lato;">Logout
                            </p></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--Partner Settings-->
    <div class="modals" id="modals_partners_settings">
        <div class="signupBoxPartner shadow rounded">
            <div class="modals-header">
                <h4 id="user_settings_modal_tick"><i class="fas fa-check-circle text-success"></i></h4>
                <p class="text-seccondary" style="font-size: 0.7em;" id="success_msg"></p>
            </div>
            <div class="user_settings_div">
                <form class="user_settings_form" action="/partner_dashboard" style="display: inline-block;">
                    <button class="btn form-control bg-primary text-center rounded shadow">
                        <i class="fas fa-chart-line">&nbsp;<p class="font-size-xsm" style="font-family: lato;">Dashboard
                            </p></i>
                    </button>
                </form>
                <form class="user_settings_form" action="/logOut_Partner" style="display: inline-block;">
                    <button class="btn form-control bg-danger text-center rounded shadow">
                        <i class="fas fa-sign-out-alt">&nbsp;<p class="font-size-xsm" style="font-family: lato;">
                                Logout</p></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--Change password-->
    <div class="modals" id="modals_users_password">
        <div class="signupBoxPartner shadow rounded">
            <div class="modals-header">
                <h4 id="user_settings_modal_tick"><i class="fas fa-check-circle text-success"></i></h4>
                <p class="text-seccondary" style="font-size: 0.7em;" id="success_msg_Upwd"></p>
            </div>
            <div class="user_settings_div">
                <form class="user_settings_form" action="/" style="display: inline-block;">
                    <button class="btn form-control bg-primary text-center rounded shadow">
                        <i class="fas fa-home">&nbsp;<p class="font-size-xsm" style="font-family: lato;">Home</p></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modals" id="modals_partners_password">
        <div class="signupBoxPartner shadow rounded">
            <div class="modals-header">
                <h4 id="user_settings_modal_tick"><i class="fas fa-check-circle text-success"></i></h4>
                <p class="text-seccondary" style="font-size: 0.7em;" id="success_msg_Ppwd"></p>
            </div>
            <div class="user_settings_div">
                <form class="user_settings_form" action="/partner_dashboard" style="display: inline-block;">
                    <button class="btn form-control bg-primary text-center rounded shadow">
                        <i class="fas fa-chart-line">&nbsp;<p class="font-size-xsm" style="font-family: lato;">Dashboard
                            </p></i>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <!--BootstrAP 5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/939c2f26e1.js" crossorigin="anonymous"></script>

    <!--LOCALS-->
    <script src="modals_users_payment.js"></script>

</body>

</html>