{% extends "layoutOne.html" %}

{% block title %}
Survey
{% endblock %}

{% block main %}
<div class="container shadow rounded padding-xl-wd text-centered">
    <h2>Thank you! <i class="far fa-smile"></i></h2>
    <p>Your survey is scheduled for {{surveyDate}} (betweeen 8am to 8pm)</p>
    <p>We have send you a confirmation message to your email</p>
    <p>Please visit your <a class="btn btn-primary" href="/user_profile">Profile</a> to see the details.
    </p>
</div>
{% endblock %}