<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="app.css">
    <title>Testimonials</title>
</head>

<body>
    <div class="testimonials">
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile1.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile2.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile3.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile4.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile5.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile6.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide1">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum architecto
                                asperiores vero repellendus officiis placeat aperiam ducimus sequi soluta aspernatur
                                ratione qui in accusantium, ad quasi cum molestias quo.</p>
                            <div class="imgBx">
                                <img src="profile7.jpg" alt="">
                            </div>
                            <div class="details">
                                <h2>Hanna Montana<br><span>Computer Scientist</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="testimonial.js"></script>
</body>

</html>